/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  object-fit: block;
}

main {
  background-color: #ececec;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

.tekst_galleri {
  max-width: 65ch;
}

.forside_bund {
  margin-top: 50px;
}

.computer {
  margin-top: 50px;
}

.computer_tekst {
  margin-top: 50px;
}

.tablet {
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.mincomputerknap {
  display: inline-block;
  background-color: #c1e1c1;
  text-decoration: none;
  border-radius: 15px;
  padding: 12px;
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 50px;
}

.mincomputerknap:hover {
  background-color: #000000;
  color: white;
}

h1 {
  color: rgb(0, 0, 0);
  font-family: "Kode Mono", monospace;
  margin-bottom: 20px;
}

h2 {
  color: rgb(0, 0, 0);
  padding-bottom: 10px;
  background-position: bottom right;
  font-family: "Kode Mono", monospace;
}

h3 {
  color: black;
  font-family: "Kode Mono", monospace;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 20px;
  margin-bottom: 20px;
  font-size: 16px;
}

.menu {
  list-style-type: none;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.specifikationer {
  font-family: Helvetica, Arial, sans-serif;
  margin-left: 15px;
  line-height: 25px;
}

dl {
  background-color: #ececec;
  font-family: Helvetica, Arial, sans-serif;
  padding-bottom: 0.1rem;
  margin-bottom: 20px;
}

dd {
  background-color: #ececec;
  padding: 5px;
  margin: 0px;
}

dt {
  background-color: #ffffff;
  padding: 5px;
  margin: 0px;
}

footer {
  background-color: #c1e1c1;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  padding: 30px;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #c1e1c1;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.logo img {
  width: 50px;
  height: 50px;
}

nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s;
}
.menu a:hover {
  color: #ffffff;
}

@media screen and (max-width: 800px) {
  nav {
    justify-content: center;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
