/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  object-fit: block;
}

main {
  background-color: #ececec;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

/* Galleri */

.tekst_galleri {
  max-width: 65ch;
}

@media screen and (max-width: 800px) {
  .grid_1-1-1-1 img {
    border-radius: 10px;
  }
}

/* Index */

.forside_bund {
  margin-top: 50px;
}

.computer {
  margin-top: 50px;
}

.tekst_1-1 {
  margin-left: 40px;
}

@media screen and (max-width: 800px) {
  .tekst_1-1 {
    margin: 0 auto;
  }
}

/* Min computer */

.computer_tekst {
  margin-top: 50px;
  margin-left: 50px;
}
.computer {
  position: relative;
  top: -20px;
}

@media screen and (max-width: 800px) {
  .computer_tekst {
    margin: 0 auto;
  }
  .computer {
    position: relative;
    top: -40px;
  }

  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  .grid_1-1 img {
    border-radius: 10px;
  }

  a.mincomputerknap {
    display: inline-block;
    background-color: #a0bed8;
    border-radius: 15px;
    color: black;
    padding: 12px;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 50px;
  }

  a.mincomputerknap:hover {
    background-color: #000000;
    color: white;
  }
}

/* Komponenter */

.komponenter {
  margin-top: 10px;
}

.køling {
  margin-top: 10px;
}

.motherboard {
  margin-top: 10px;
}

@media screen and (max-width: 800px) {
  .grid_1-1-1 img {
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
  }

  .grid_1-1-1 img:first-of-type {
    margin-top: 0;
  }
}

/* Operativsystemer */

.se_videre {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

img.push-down {
  margin-top: 218px;
}

.tablet {
  margin-top: 20px;
}

@media screen and (max-width: 800px) {
  img.push-down {
    margin: 0 auto;
  }

  .grid_5-3 img {
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .grid_5-3 img:first-of-type {
    margin-top: 0;
  }

  .tablet {
    margin: 0 auto;
  }
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

a.mincomputerknap {
  display: inline-block;
  background-color: #a0bed8;
  color: black;
  padding: 12px;
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 40px;
}

a.mincomputerknap:hover {
  background-color: #000000;
  color: white;
}

h1 {
  color: rgb(0, 0, 0);
  font-family: "Kode Mono", monospace;
  margin-bottom: 40px;
}

h2 {
  color: rgb(0, 0, 0);
  padding-bottom: 10px;
  background-position: bottom right;
  font-family: "Kode Mono", monospace;
}

h3 {
  color: black;
  font-family: "Kode Mono", monospace;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 20px;
  margin-bottom: 20px;
  font-size: 16px;
}

.menu {
  list-style-type: none;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.specifikationer {
  font-family: Helvetica, Arial, sans-serif;
  margin-left: 15px;
  line-height: 25px;
}

dl {
  background-color: #ececec;
  font-family: Helvetica, Arial, sans-serif;
}

dd {
  background-color: #ececec;
  border: 20px;
  padding: 10px;
  margin: 0px;
}

dt {
  background-color: #ffffff;
  border: 20px;
  padding: 10px;
  margin: 0px;
}

@media screen and (max-width: 800px) {
  dl {
    background-color: #ececec;
    font-family: Helvetica, Arial, sans-serif;
    padding-bottom: 0.1rem;
    margin-bottom: 20px;
  }

  dd {
    background-color: #ececec;
    padding: 5px;
    margin: 4px;
  }

  dt {
    background-color: #ffffff;
    padding: 8px;
    border-radius: 20px;
    margin: 0px;
  }
}

footer {
  background-color: #a0bed8;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  padding: 30px;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #a0bed8;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.logo img {
  width: 38px;
  height: 38px;
  margin-top: 10px;
  margin-bottom: 10px;
}

nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s;
}
.menu a:hover {
  color: #ffffff;
}

@media screen and (max-width: 800px) {
  nav {
    display: block;
  }

  .menu {
    flex-direction: row;
    font-size: 2px;
    align-items: center;
    gap: 2px;
  }

  .logo img {
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
